.main-page-box {
  padding: 20px;
  position: relative;
  .icon-btn-box {
    .common-icon-btn {
      width: 25px;
      height: 25px;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .header-box {
    justify-content: space-between;
  }

  .common-btn-box {
    justify-content: center;
    flex: 1;

    .common-tab {
      padding: 5px 15px;
      margin-right: 5px;
      border: 1px solid #d9d9d9;
      min-width: 88px;
      text-align: center;
      cursor: pointer;
    }

    .common-tab:hover {
      border-color: #40a9ff;
      color: #40a9ff;
    }

    .current-tab {
      background-color: rgb(24, 144, 255);
      color: #fff;
      border-color: rgb(24, 144, 255);
    }

    .current-tab:hover {
      background-color: #40a9ff;
      border-color: #40a9ff;
      color: #fff;
    }
  }
  .common-table-box{
    padding-top: 20px;
    .sel-box{
      padding-bottom: 10px;
    }
  }

  .title {
    position: relative;
    .help-icon {
      font-size: 14px;
      position: absolute;
      top: 0;
      right: -20px;
      color: #ccc;
    }
  }
  .pie-chart-box {
    z-index: 10;
    width: 50%;
    min-width: 700px;
    position: fixed;
    top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
}